:root {
  --black: #000000;
  --lightgray: #f5f5f5;
  --orange: rgb(67, 41, 214);
  --white: #fff;
}

html, body {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: var(--white);
  font-weight: 300;
}

body, button, input {
  font-family: 'Roboto', "Arial";
}

::-moz-selection {
  background-color: rgb(209, 209, 255);
  color: rgb(18, 18, 119);
}

::selection {
  background-color: rgb(209, 209, 255);
  color: rgb(18, 18, 119);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 100vh;
  text-align: center;
  background-color: #000000ad;
}

.video-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;

  position: absolute;
  top: 0;
  left: 0;
}

.glow {
  font-size: 100px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px rgb(94, 94, 94), 0 0 30px var(--orange), 0 0 40px var(--orange), 0 0 50px var(--orange), 0 0 60px var(--orange), 0 0 70px var(--orange);
  margin: 0;
  padding: 0;
}

.row {
  display: grid;
  grid-template-columns: 60% 5%;
  column-gap: 50px;
}

@media screen and (max-width: 900px) {
  .row {
    grid-template-columns: auto;
  }
}

.section {
  background-color: rgb(9, 6, 53);
  padding: 30px;
}

.type2 {
  background-color: rgb(3, 2, 27);
}