:root {
  --black: #000000;
  --lightgray: #f5f5f5;
  --blue: rgb(67, 41, 214);
  --white: #fff;
  --lightblue: rgb(209, 209, 255);
  --pagebackground: rgb(2, 0, 31);
  --cardbackground: rgb(10, 4, 68);
}

html, body {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: var(--white);
  font-weight: 300;
}

h2 {
  text-align: center;
}

body, button, input {
  font-family: 'Roboto', "Arial";
}

::-moz-selection {
  background-color: rgb(209, 209, 255);
  color: rgb(18, 18, 119);
}

::selection {
  background-color: rgb(209, 209, 255);
  color: rgb(18, 18, 119);
}

.content {
  background-color:var(--pagebackground);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 100vh;
  text-align: center;
  background-color: #000000ad;
}

.video-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;

  position: absolute;
  top: 0;
  left: 0;
}

.glow {
  font-size: 100px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.headerline {
  border-bottom: 1px solid white;
  height: 20px;
  width: 100%;
}

.line {
  height: 0px;
  border: 2px solid rgb(255, 255, 255);
}

.row {
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 50px;
}

.section {
  background-color: var(--pagebackground);
  padding: 30px;
  border: none !important;
}

.specifications p {
  font-size: 16px;
}

/*Timeline*/
.timeline {
  border-left: 2px solid white;
}

li {
  padding-bottom: 15px;
  margin-left: -28px;
  list-style: square;
}

/*Cards*/
.card {
  padding: 20px;
  margin: 5px;
  border: 3px solid var(--white);
  text-align: center;
  background-color: var(--cardbackground);
}

.card h4 {
  padding-top: 0;
  margin-top: 0;
  font-weight: 900;
}

a {
  color: white;
  text-decoration: none;
}

.topbuttons {
  background-color: rgb(59, 54, 129);
  border-radius: 50px;
  padding: 10px 100px;
  margin: 5px;
}

/*Footer*/
.footer {
  background-color: rgb(59, 54, 129);
  padding: 10px;
  margin: 0;
}

.footer h4 {
  font-weight: 300;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}